li:hover {
  color: #2c3a41;
  background-color: #e6e6e6;
  left: .1em;
}

li.selected {
  background-color: black;
  color: white;
}

li.selected:hover {
  background-color: #505050;
  color: white;
}

li.selected:active {
  background-color: black;
  color: white;
}
